@model IEnumerable<CurrentAllianceViewModel>
@{
	ViewData["Title"] = "Political Leader - Current Alliances";
	var showButtons = ViewBag.HasActiveElection ? false : true;
}

<div class="container-fluid mb-5">
	<div class="d-flex justify-content-between gap-2">
		<a asp-area="PoliticalLeader" asp-controller="PoliticalAlliance" asp-action="Index" class="btn btn-outline-dark fw-semibold"><i class="bi bi-arrow-left"></i> Go back</a>
	</div>

	@if (!showButtons)
	{
		<div class="card bg-warning mt-2 p-2">
			<h5 class="fs-5 text-center text-light fw-normal m-0"><i class="bi bi-info-circle-fill"></i> Political alliances cannot be modified while there is an active election.</h5>
		</div>
	}

	<div class="card shadow-sm border-0 mt-2">
		<div class="card-header bg-dark text-white">
			<h2 class="fs-4 m-0"><i class="bi bi-send-check-fill"></i> Current Alliances</h2>
		</div>

		<div class="card-body bg-white p-0">
			<div class="table-responsive">
				<table class="table table-bordered m-0 table-hover">
					<thead>
						<tr>
							<th>Allied party</th>
							<th>Acceptance date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@if (Model is not null)
						{
							foreach (var item in Model)
							{
								<tr>
									<td>@item.AlliedPartyName (@item.AlliedPartyAcronym)</td>
									<td>@item.AcceptedDate</td>
									<td>
										<div class="d-flex gap-2">
											<a asp-area="PoliticalLeader" asp-controller="PoliticalAlliance" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger @(showButtons ? "" : "pe-none")">
												Delete Alliance
											</a>
										</div>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>