@model IEnumerable<PoliticalLeaderAssignmentViewModel>
@{
	ViewData["Title"] = "Admin - Political Leader Assignment";
	var showButtons = ViewBag.HasActiveElection ? false : true;
}


<div class="container-fluid mb-5">
	<div class="d-flex justify-content-between gap-2">
		<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-outline-dark fw-semibold"><i class="bi bi-arrow-left"></i> Go back</a>
		<a asp-area="Admin" asp-controller="PoliticalLeaderAssignment" asp-action="Create" class="btn btn-outline-dark fw-semibold px-5 @(showButtons ? "" : "disabled")"><i class="bi bi-plus-lg"></i> Assign Leader</a>
	</div>

	@if (!showButtons)
	{
		<div class="card bg-warning mt-2 p-2">
			<h5 class="fs-5 text-center text-light fw-normal m-0"><i class="bi bi-info-circle-fill"></i> Political leaders' assignments cannot be modified while an election is underway.</h5>
		</div>
	}

	<div class="card shadow-sm border-0 mt-2">
		<div class="card-header bg-dark text-white">
			<h2 class="fs-4 m-0"><i class="bi bi-diagram-3-fill"></i> Political Leader Assignments</h2>
		</div>

		<div class="card-body bg-white p-0">
			<div class="table-responsive">
				<table class="table table-bordered m-0 table-hover">
					<thead>
						<tr>
							<th>Political leader</th>
							<th>Username</th>
							<th>Political Party</th>
							<th>Party Acronym</th>
							<th>Leader Status</th>
							<th>Party Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@if (Model is not null)
						{
							foreach (var item in Model)
							{
								<tr>
									<td>@item.UserFullName</td>
									<td>@item.Username</td>
									<td>@item.PoliticalPartyName</td>
									<td>@item.PoliticalPartyAcronym</td>
									<td>@(item.IsUserActive ? "Active" : "Inactive")</td>
									<td>@(item.IsPoliticalPartyActive ? "Active" : "Inactive")</td>
									<td>
										<div class="d-flex gap-2">
											<a asp-area="Admin" asp-controller="PoliticalLeaderAssignment" asp-action="Delete" asp-route-userId="@item.UserId" asp-route-politicalPartyId="@item.PoliticalPartyId" class="@(showButtons ? "" : "pe-none")">
												<i class="bi bi-trash3-fill text-danger fs-5"></i>
											</a>
										</div>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>